/* ############-GLOBAL STYLES-############ */
html {
    height: 100%;
    overflow: hidden;
}

/* CSS for parallax scrolling adapted from 2 sources 
        -https://codepen.io/blaustern_fotografie/pen/OJJvbzb
        -https://codepen.io/webmadewell/pen/zppMBX
    Glass-morphism generator very cool
        -https://css.glass
*/
body {
    color: #fff;
    /*make sure margin and padding is default*/
    margin: 0;
    padding: 0;

    /* stuff for parallax scrolling */
    -webkit-perspective: 1px;
    perspective: 1px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    height: 100%;
    /* scroll behavior */
    overflow-y: scroll;
    overflow-x: hidden;
}


/* ############-HEADER BACKGROUND IMAGE-############ */
/* Header which contains
    -background-image pesudo element defined below in header::before
    -Main page navigation menu
    -Website title     
*/
header {
    height: 70vh;
    padding: 20vw 0 0vw;
    position: relative;
    -webkit-transform-style: inherit;
    transform-style: inherit;
    width: 100vw;
    background-color: transparent;
}

/* I do not know why this is needed 
    -https://webplatform.github.io/docs/css/selectors/#:~:text=A%20comma-separated%20list%20of,into%20a%20comma-separated%20list.
        -A comma-separated list of selectors represents the union of all elements selected by each of the individual selectors in the list.
    -these styles are being applied to both the header and the header:before so theoretically if you put the styles in both header and header::before
    it would work. IDK somebody test it?
*/
header,
header:before {
    background: 50% 50% / cover;
    z-index: -1;
}

/*header pseudo element*/
header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    z-index: -100;
    background-image: url("https://www.christies.com/img/LotImages/2014/NYR/2014_NYR_02861_0223_000(doyle_arthur_conan_paget_sidney_illustrator_original_gouache_and_water024604).jpg?mode=max");
    background-size: cover;
    -webkit-transform-origin: center center 0;
    -webkit-transform: translateZ(-1px) scale(2);
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    min-height: 100vh;
}

/*text styles inherited by any text in the header*/
header * {
    font-weight: normal;
    letter-spacing: 0.1em;
    text-align: center;
}

/* text shadow for header text  */
.titleText {
    background-color: transparent;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    width: fit-content;
    margin-inline: auto;
}

/* ############-MAIN CONTENT AND PARAGRAPHS LANDING PAGE-############ */
/*global p styles kind of messy should be its own class
    -I cleaned it up
*/
/*main content part under the main header image*/
main {
    /* background color where the paragraphs are */
    background-color: hsl(0, 0%, 100%);

    /* this is a great thing to modify if you want to specify how much space there is between
        -the paragraphs and the image padding-top
        -the paragraphs and the footer padding-bottom
    
    padding left and right are not rly doing anything since the paragraph width is being set already to 60vw
     */
    padding: 50px;

    /* paragraphs column flex container because the text should be reactive 
    and this is the way i was able to center them well in the page 
    */
    display: flex;
    flex-direction: column;
}

/* header for main body paragraphs on intro page */
.paraHeader{
    color: black;
    text-align: center;
}

/* styles for main paragraph p tags on intro page */
.mainParagraph {
    /* let me set stuff on you */
    display: inline-block;

    /* !!EDIT to change how much vertical space the paragraphs take up */
    width: 60vw;

    /*line-height is like double spaced basically*/
    line-height: 1.7;

    /* paragraph text color */
    color: black;

    /* center the paragraph block */
    margin-inline: auto;
}

/* ############-GLASS BORDER-############ */
/*https://css.glass*/
.glassBorder{
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* ############-STICKY TOP BAR MENU-############ */

/*good working styles for sticky menubar on pages other then the main page*/
.menuBar {
    /* sticky on all browsers */
    position: -webkit-sticky;
    position: sticky;

    /* position will always be the same */
    top: 0;
    width: 100%;

    /* 16 x Nrem == px
        in this case - 3*16 = 48px
        height: 48px
    */
    height: 3rem;

    background: coral;

    /* flex behaviors */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    /* he is the king */
    z-index: 100;
}
/*an item on the sticky menubar*/
.menuBarItem {
    margin-top: 3px;
    display: inline-block;
    width: 200px;
    background-color: antiquewhite;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    vertical-align: middle;
}

/* ############-LANDING PAGE MENU-############ */
.introMenu {
    position: absolute;
    z-index: 10;
    top: 0;
    height: 100%;
    margin-left: -1px;
}

/* book image */
.bookIcon {
    filter: drop-shadow(0 0 0.75rem cornflowerblue);
}
/* typewriter image */
.typewriterIcon {
    filter: drop-shadow(0 0 0.75rem cornflowerblue);
}

/* ############-FOOTER-############ */
/* footer stuff right now its just size */
.footerStyles{
    width:100%;
    height:40px;
    background-color: black;
}


