/* ############-GLOBAL STYLES-############ */
html {
    height: 100%;
    overflow: hidden;
}

/* CSS for parallax scrolling adapted from 2 sources 
        -https://codepen.io/blaustern_fotografie/pen/OJJvbzb
        -https://codepen.io/webmadewell/pen/zppMBX
    Glass-morphism generator very cool
        -https://css.glass
*/
body {
    color: #fff;
    /*make sure margin and padding is default*/
    margin: 0;
    padding: 0;

    /* stuff for parallax scrolling */
    -webkit-perspective: 1px;
    perspective: 1px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    height: 100%;
    /* scroll behavior */
    overflow-y: scroll;
    overflow-x: hidden;
}


/* ############-HEADER BACKGROUND IMAGE-############ */
/* Header which contains
    -background-image pesudo element defined below in header::before
    -Main page navigation menu
    -Website title     
*/
header {
    height: 70vh;
    padding: 5% 0 8%;
    margin-left:120px;
    position: relative;
    -webkit-transform-style: inherit;
    transform-style: inherit;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: transparent;
}

/* I do not know why this is needed 
    -https://webplatform.github.io/docs/css/selectors/#:~:text=A%20comma-separated%20list%20of,into%20a%20comma-separated%20list.
        -A comma-separated list of selectors represents the union of all elements selected by each of the individual selectors in the list.
    -these styles are being applied to both the header and the header:before so theoretically if you put the styles in both header and header::before
    it would work. IDK somebody test it?
*/
header,
header:before {
    background: 50% 50% / cover;
    z-index: -1;
    text-align: center;
}

@media screen and (max-width: 800px) {
    nav{
        display:none;
    }
    header::before{
        width:100%;
    }
    /* show mobile menu */
    .mobileMenu {display: unset !important;}
    h1{position:relative;margin-left:50%}
    header{width:100%;margin-left:-128px}
}


/*header pseudo element*/
header::before {
    bottom: 0;
    content: "";
    left: 120px;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    z-index: -100;
    background-image: url("https://www.christies.com/img/LotImages/2014/NYR/2014_NYR_02861_0223_000(doyle_arthur_conan_paget_sidney_illustrator_original_gouache_and_water024604).jpg?mode=max");
    background-size: cover;
    -webkit-transform-origin: center center 0;
    -webkit-transform: translateZ(-1px) scale(2);
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    min-height: 100vh;
    word-wrap: break-word;
}

/*text styles inherited by any text in the header*/
header * {
    word-wrap: break-word;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-align: center;
}

/* text shadow for header text  */
h1 {
    background-color: transparent;
    transform:translateX(-40px);
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    width: fit-content;
    max-width: 65vw;
    margin-top:10%;
    font-size: 3rem;
}

/* ############-LANDING PAGE MENU-############ */
nav {
    /* important is needed here to overwrite the glass border styles*/
    background: rgb(224,215,199) !important;
    top:0;
    left:-130px;
    position: absolute;
    width:120px;
    height: 95%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -1px;
}

/* all four images in the menubar in secuential order */
figure:nth-child(1) * img {
    width: 110px;
    height: 90px;
    /* filter: drop-shadow(0 0 0.75rem cornflowerblue); */
}
figure:nth-child(1) {
    background-color: cornflowerblue;
}

figure:nth-child(2) * img {
    width: 120px;
    height: 120px;
    /* filter: drop-shadow(0 0 0.75rem yellow); */
}
figure:nth-child(2) {
    background-color: darkblue;
}

figure:nth-child(3) * img {
    width: 110px;
    height: 120px;
    /* filter: drop-shadow(0 0 0.75rem green); */
}
figure:nth-child(3) {
    background-color: cornflowerblue;
}

figure:nth-child(4) * img {
    width: 120px;
    height: 150px;

}
figure:nth-child(4) {
    background-color: darkblue;
}

/* all four text blocks after the menu items */
figure {
    display: block;
    color: black;

    margin-inline:auto;
    text-align: center;
    width:140px;
    height:140px;
    margin-left:-3px;

    backdrop-filter: blur(5px);
    border-radius: 26px;
    box-shadow: 35px 35px 68px 0px rgba(224, 215, 199, 0.5), inset -8px -8px 16px 0px rgba(224, 215, 199, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}
figcaption{
    color:white;
}
/* ############-MOBILE MENU-############ */
.introMenu {
    /* display: none; */
}

#menubutton {
    display: block;
    border: unset;
    max-width: fit-content;
    background-color: transparent;
    z-index: 1;
    position: absolute;
    top: 30px;
    right: 50px;
}
#menubutton > img{
    filter: brightness(0%);padding-top: 0px;width:50px;height:50px;
}

.mobileMenu{
    display: none;
}
.mobileMenu > .glassBorder{
    text-align: center;
    width: fit-content;
    display: flex;
    flex-direction: column;

    justify-content: center;
    top: 20px;
    right: 25px;
    position: fixed;
}
.expandingMenuItem * span{
    display: block;transform:translate(0px,-10px);color:blue;margin-inline: auto;
}
.expandingMenuItem * img{
    width: 100px;
    height: 80px
}

.right-menu {
    text-align: center;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 20px;
    right: 25px;
    position: fixed;
    transform:translateY(100px);
    padding:5px;
}


/* ############-MAIN CONTENT AND PARAGRAPHS LANDING PAGE-############ */
/*global p styles kind of messy should be its own class
    -I cleaned it up
*/
/*main content part under the main header image*/
main {
    /* background color where the paragraphs are */
    background-color: hsl(0, 0%, 100%);

    /* this is a great thing to modify if you want to specify how much space there is between
        -the paragraphs and the image padding-top
        -the paragraphs and the footer padding-bottom
    
    padding left and right are not rly doing anything since the paragraph width is being set already to 60vw
     */
    padding: 50px;

    /* paragraphs column flex container because the text should be reactive 
    and this is the way i was able to center them well in the page 
    */
    display: flex;
    flex-direction: column;
}

/* header for main body paragraphs on intro page */
main>h2 {
    color: black;
    text-align: center;
    /* 2rem == 32px */
    font-size: 2rem;
}

/* styles for main paragraph p tags on intro page */
main>p {
    /* let me set stuff on you */
    display: inline-block;

    /* !!EDIT to change how much vertical space the paragraphs take up */
    width: 60vw;

    /*line-height is like double spaced basically*/
    line-height: 1.7;

    /* paragraph text color */
    color: black;

    /* center the paragraph block */
    margin-inline: auto;
}

/* ############-GLASS BORDER-############ */
/*https://css.glass*/
.glassBorder {
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* ############-STICKY TOP BAR MENU-############ */

/*good working styles for sticky menubar on pages other then the main page*/
.menuBar {
    /* sticky on all browsers */
    position: -webkit-sticky;
    position: sticky;

    /* position will always be the same */
    top: 0;
    width: 100%;

    /* 16 x Nrem == px
        in this case - 3*16 = 48px
        height: 48px
    */
    height: 3rem;

    background: coral;

    /* flex behaviors */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    /* he is the king */
    z-index: 100;
}

/*an item on the sticky menubar*/
.menuBarItem {
    position: relative;
    margin-top: 3px;
    display: inline-block;
    width: 200px;
    background-color: antiquewhite;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    vertical-align: middle;
}

/* ############-FOOTER-############ */
/* footer stuff right now its just size */
footer {
    width: 100%;
    height: 40px;
    background-color: black;
}


/* UNCOMMENTED CSS FOR VARIOUS MENUBARS */

