/* EDIT VALUE- Means a significant value that will change how the page is viewed*/ 
/* IMPORTANT VALUE- an edit value with key signifigance*/ 
/* IMG VALUE- an value having to do with an image mostly width and height*/ 

/* ############-BORDER UTILITY CLASSES-############ */
/* GLASS BORDER */
/*https://css.glass*/
.glassBorder {
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* CLAY BORDER */
.clayBorder{
    /* NOTE background color should be set in the element that this is applied to */
    backdrop-filter: blur(5px);
    border-radius: 26px;
    box-shadow: 35px 35px 68px 0px rgba(224, 215, 199, 0.5), inset -8px -8px 16px 0px rgba(224, 215, 199, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

/* ############-GLOBAL STYLES-############ */
html {
    height: 100%;
    overflow: hidden;
}

/* CSS for parallax scrolling adapted from 2 sources 
        -https://codepen.io/blaustern_fotografie/pen/OJJvbzb
        -https://codepen.io/webmadewell/pen/zppMBX
        Glass-morphism generator very cool
        -https://css.glass
*/
body#introBody {
    color: #fff;
    /*make sure margin and padding is default*/
    margin: 0;
    padding: 0;

    /* stuff for parallax scrolling */
    -webkit-perspective: 1px;
    perspective: 1px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    height: 100%;
    /* scroll behavior */
    overflow-y: scroll;
    overflow-x: hidden;
}


/* ############-HEADER BACKGROUND IMAGE-############ */
/* Header which contains
    -background-image pesudo element defined below in header::before
    -Main page navigation menu
    -Website title     
*/
header {
    height: 70vh;
    padding: 5% 0 9%;/* IMPORTANT VALUE */
    margin-left:120px;
    
    position: relative;
    -webkit-transform-style: inherit;
    transform-style: inherit;
    width: 100vw;    /* EDIT VALUE */

    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: transparent;
}

/* I do not know why this is needed 
    -https://webplatform.github.io/docs/css/selectors/#:~:text=A%20comma-separated%20list%20of,into%20a%20comma-separated%20list.
        -A comma-separated list of selectors represents the union of all elements selected by each of the individual selectors in the list.
    -these styles are being applied to both the header and the header:before so theoretically if you put the styles in both header and header::before
    it would work. IDK somebody test it?
*/
header,
header:before {
    /* DEFINES what part of the image will stay in focus on resize */
    background: 0% 50% / cover;
    z-index: -1;
    text-align: center;
}


/*header pseudo element*/
header::before {
    bottom: 0;
    content: "";
    left: 120px;/* EDIT VALUE */
    position: absolute;
    right: 0;/* EDIT VALUE */
    top: 0;/* EDIT VALUE */
    display: block;
    z-index: -100;
    background-image: url("https://www.christies.com/img/LotImages/2014/NYR/2014_NYR_02861_0223_000(doyle_arthur_conan_paget_sidney_illustrator_original_gouache_and_water024604).jpg?mode=max");
    background-size: cover;
    -webkit-transform: translateZ(-1px) scale(2);
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    min-height: 100vh;
}

/*text styles inherited by any text in the header*/
header * {
    word-wrap: break-word;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-align: center;
}

/* text shadow for header text  */
/* I chose to go with a more specific selector so i can use other h1 tags on other pages */
header>h1 {
    color:white;
    background-color: transparent;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    width: fit-content;
    max-width: 80vw;/* IMPORTANT VALUE */
    margin-top:10%;/* IMPORTANT VALUE */
    margin-left: -80px;/* IMPORTANT VALUE */
    font-size: 3rem;
}

/* ############-HEADER MEDIA BEHAVIORS-############ */
/* media behaviors for showing the mobile menu when the screen size is less then 800px */
@media screen and (max-width: 800px) {
    /* hide our original menu */
    /* nav{
        display:none;
    } */
    /* the the image to full width */
    header::before{
        width:100%;
    }
    header{width:100%;margin-left:-128px;margin-top:150px}
    /* show mobile menu */
    /* .mobileMenu {display: unset !important;} */
    nav{
        width: 100vw !important;
        height:150px !important;
        left:16% !important;
        top:-150px !important;
        margin-left: 6px !important;
        flex-direction: row !important;
    }
    figure{margin-inline: unset !important}
    /* center the title */
    #introBody>header>h1{margin-left:40% !important}
}
/* SMARTPHONES */
@media screen and (max-height: 685px){
    header::before{
        width:100%;
    }
    header{width:100%;margin-left:-128px;margin-top:150px}
    nav{ 
        width: 97% !important;
        height:150px !important;
        left:120px !important;

        top:-150px !important;
        margin-left: 6px !important;
        flex-direction: row !important;
    }
    figure{margin-inline: unset !important}
    #introBody>header>h1{margin-left:25% !important}
}
@media screen and (max-width: 624px) {
    /* on even smaller screens mostly smartphones the title needs to be centered differently */
    #introBody * h1{position: absolute;top:10%;left:15%;margin:unset !important}
    #slidingMenu > table {
        margin-top: -20px !important;
    }
    /* Pretty bad mobile responsiveness */
    .smallShelf{
        overflow:scroll;
        width: 30% !important;
    }
    .mobileMenu * img{
        transform:scale(.8);
    }
    /* .bookshelf{
        margin-bottom: -350px !important;
        grid-template-columns: 10% 10% 10% 10% !important;
    }
    .smallShelf > ul{margin-left:-8px !important} */
    #storyPage *#menubutton {
        top:5px !important;
        left:50px !important;
    }
    #storyPage *#homebutton {
        left:0px !important;
        top:5px !important;
    }
}

/* ############-LANDING PAGE MENU For big/medium_big screens-############ */
nav {
    /* important is needed here to overwrite the glass border styles*/
    background: rgb(224,215,199) !important;
    top:0;
    /* positioning */
    left:-130px;/* EDIT VALUE */
    position: absolute;
    width:120px;/* EDIT VALUE */
    max-width: 100vw;
    top:0px;/* EDIT VALUE */

    height: 97%;/* EDIT VALUE */
    max-height: 104vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: -1px;

    /*
    HEIGHT MEDIA TAGS SHOULD BE ADDED TO PREVENT THIS MENU FROM BEING CUT OFF 
    */

    /* Important BECAUSE GLASS BORDER will set to 25px we need to unset or switch the order 
    of the class declarations */
    padding-top: 0px !important;
}

/* a figure is an image with a figcaption */
figure {
    display: block;
    color: black;

    margin-inline:auto;
    text-align: center;
    width:120px;/* EDIT VALUE */
    height: 120px;
    min-height:120px;/* EDIT VALUE */
    margin-left:6px;/* EDIT VALUE */

}
figcaption{
    color:white;
}

/* LANDING PAGE MENU BAR IMAGES AND TEXT */
/* all four images in the menubar in secuential order */

/* STORIES */
figure:nth-child(1) * img {
    width: 120px;/* IMG VALUE */
    height: 120px;/* IMG VALUE */
    /* filter: drop-shadow(0 0 0.75rem cornflowerblue); */
}
/* METHODS */
figure:nth-child(2) * img {
    width: 120px;/* IMG VALUE */
    height: 120px;
    /* filter: drop-shadow(0 0 0.75rem yellow); */
}

/* ANALYSIS */
figure:nth-child(3) * img {
    width: 110px;/* IMG VALUE */
    height: 120px;
    /* filter: drop-shadow(0 0 0.75rem green); */
}

/* ANALYSIS02 for now */
figure:nth-child(4) * img {
    width: 110px;/* IMG VALUE */
    height: 120px;
}

/* landing page whole button container */
/* Select all even figure children */
figure:nth-child(2n) {
    background-color: cornflowerblue;/* COLOR VALUE */
}
/* Select all odd figure children */
figure:nth-child(2n+1) {
    background-color: darkblue;/* COLOR VALUE */
}


/* ############-MOBILE MENU-############ */
.mobileMenu>button {
    display: block;
    border: unset;
    max-width: fit-content;
    background-color: transparent;
    z-index: 1;
    position: absolute;
}

/* button trigger hide and show image inside*/
#menubutton {
    top: 30px;
    /* EDIT VALUE */
    left: 100px;
    /* EDIT VALUE */
}

#nextbutton {
    right: 10px;
    top: 20px;
}

#homebutton {
    top: 28px;
    left: 30px;
}

.mobileMenu>button>*>img,.mobileMenu>button>img {
    /* force the image to be black */
    filter: brightness(0%);

    /* remove padding */
    padding-top: 0px;

    /* set height and width for all icons */
    width: 50px;
    /* IMG VALUE */
    height: 50px;
    /* IMG VALUE */
}



/* the div containing the images and names of the menu items */
.mobileMenu>div {
    text-align: center;
    width: fit-content;

    display: flex;
    flex-direction: column;

    /* This moves down the items below the button but keeps the div over the button
if i used margin it would move down in the same way but setting background 
would not overlay the background over the #menubutton
*/
    padding-top: 75px;
    height: 60%;
    /* EDIT VALUE */
    justify-content: space-between;
    top: 0px;
    /* EDIT VALUE */
    left: 0px;
    /* EDIT VALUE */
    position: absolute;
}

/* Clay border and expanding menuItem this class is used in the javascript hide and show as well */
.expandingMenuItem {
    background-color: blue;
    /* COLOR VALUE */
}

/* the text inside the movile menu items */
.expandingMenuItem * span {
    display: block;
    transform: translate(0px, -10px);
    color: blue;
    /* COLOR VALUE */
    margin-inline: auto;
}

/* all images in the mobile menu */
.expandingMenuItem * img {
    width: 100px;
    /* IMG VALUE */
    height: 80px;
        /* IMG VALUE */
}
.mobileMenu>div>table>tr{
    display: block;
    width: 65%;
    margin-bottom: 20%;
    margin-inline:auto;
}

/* ############-MAIN CONTENT AND PARAGRAPHS LANDING PAGE-############ */
/*global p styles kind of messy should be its own class
    -I cleaned it up
*/
/*main content part under the main header image*/
main {
    /* background color where the paragraphs are */
    background-color: hsl(0, 0%, 100%);

    /* this is a great thing to modify if you want to specify how much space there is between
        -the paragraphs and the image padding-top
        -the paragraphs and the footer padding-bottom
    
    padding left and right are not rly doing anything since the paragraph width is being set already to 60vw
     */
    padding: 50px;

    /* paragraphs column flex container because the text should be reactive 
    and this is the way i was able to center them well in the page 
    */
    display: flex;
    flex-direction: column;
}

/* header/title for main block paragraphs on intro page */
main>h2 {
    color: black;
    text-align: center;
    /* 2rem == 32px */
    font-size: 2rem;
}

/* styles for main block paragraph p tags on intro page */
main>p {
    /* let me set stuff on you */
    display: inline-block;

    /* !!EDIT to change how much vertical space the paragraphs take up */
    width: 60vw;

    /*line-height is like double spaced basically*/
    line-height: 1.7;

    /* paragraph text color */
    color: black;

    /* center the paragraph block */
    margin-inline: auto;
}

/* ############-STICKY TOP BAR MENU-############ */

/*good working styles for sticky menubar on pages other then the main page*/
.menuBar {
    /* sticky on all browsers */
    position: -webkit-sticky;
    position: sticky;

    /* position will always be the same */
    top: 0;
    width: 100%;

    /* 16 x Nrem == px
        in this case - 3*16 = 48px
        height: 48px
    */
    height: 3rem;

    background: coral;

    /* flex behaviors */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    /* he is the king */
    z-index: 100;
}

/* ############-FOOTER-############ */
/* footer stuff right now its just size */
footer {
    width: 100%;
    height: 40px;
    background-color: black;
}


/* NOT USING RN */
/*an item on the sticky menubar*/
/* .menuBarItem {
    position: relative;
    margin-top: 3px;
    display: inline-block;
    width: 200px;
    background-color: antiquewhite;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    vertical-align: middle;
} */
/* Not sure what this was for */
/* .right-menu {
    text-align: center;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 20px;
    right: 25px;
    position: fixed;
    transform:translateY(100px);
    padding:5px;
} */


/*=============================================
=            STORY VIEWER PAGE STYLES         =
=============================================*/




/* ############-ANIMATIONS-############ */
@keyframes move {
    0% {
        /* the two values for x and y are  */
        transform: translate(400px, 0) translate(0, 0) scale(1);
    }
    10% {
        transform: translate(calc(var(--xPos) / 10), 0) translate(calc(var(--yPos) / 10), 0) scale(.9);
    }
    50%, 100% {
        transform: translate(var(--xPos), 0) translate(0, var(--yPos)) scale(.45) ;
    }

}
.minimizeBooks {
    -webkit-animation-name: move;
    -webkit-animation-duration: 1200ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}

body#storyPage{
    background: url(assets/satire.png) no-repeat center center fixed; 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    /* That was a super annoying bug */
    margin: unset;
}

#storyPage::before{
    content: "";
    position: absolute;
    width : 100%;
    height: 100%;
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

/* ############-STORY BODY-############ */
body#storybody{
    background: url(assets/satire.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

/* ############-STORY BODY-############ */


/* ############-LEFT MENU STYLES-############ */
.smallShelf{
    
    display:none;background:rgb(100, 200, 200, 0.4);--xPos:55%;--yPos:-280px;width:220px;z-index: 1;height:100vh;margin-left:0px;padding-top:60px;
    border-radius: 0px 26px 26px 0px;margin-top: 3px;
}

.smallShelf > ul{
    text-align:center; list-style: none;font-size:1.3rem;overflow-y: scroll; width: 75%;max-height: 150px;background-color: black;color:white;margin-left:7px
}


.bookshelf {
    --xPos:55%;
    --yPos:-280px;
    width: 80%;
    margin-top: 25vh;
    margin-left:25%;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10%;
    column-gap: 30px;
    row-gap: 30px;
    /* flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; */
    margin-top:25vh;margin-bottom:auto;

}

.book {
    background: transparent;
    width: 50px;
    height: 280px;
    position: relative;
    margin-left: 1px;
    margin-right:30px;
    transform-style: preserve-3d;
    transform: translateZ(0) rotateY(0);
    transition: transform 1s;

    transform: rotateX(-7deg) rotateY(-10deg) rotateZ(-1deg);
    /* transform: rotateX(-10deg) rotateY(-9deg) rotateZ(-1deg) translateY(15px) translateX(-20px); */
}

.side {
    position: absolute;
    border: 2px solid black;
    border-radius: 3px;
    font-weight: bold;
    color: black;
    text-align: center;
    transform-origin: center left;
}

.spine {
    position: relative;
    width: 50px;
    height: 280px;
    /* Patterns from: https://projects.verou.me/css3patterns/ */
    background-image: var(--tartan);
    transform: rotateY(0deg) translateZ(0px);
}

.spine-title {
    margin: 2px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 12px;
    color: gold;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.spine-author {
    position: absolute;
    color: goldenrod;
    bottom: 0px;
    left: 20%;
    /* no idea why 20% centers it */
}

.top {
    width: 50px;
    height: 190px;
    top: -2px;
    /* hmm, why -2 and not 0? */
    background-image: linear-gradient(90deg, white 90%, gray 10%);
    background-size: 5px 5px;
    transform: rotateX(90deg) translateZ(95px) translateY(-95px);
}

.cover {
    width: 190px;
    height: 280px;
    top: 0px;
    background-image: url("https://picsum.photos/190/280");
    background-size: contain;
    background-repeat: round;
    left: 50px;
    transform: rotateY(90deg) translateZ(0);
    transition: transform 1s;
}

.book:hover {
    z-index: 1;
    transform: rotateX(var(--hoverRx)) rotateY(var(--hoverRy)) rotateZ(0deg) translateY(var(--hoverTy)) translateX(var(--hoverTx));
    /* transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg) translateY(-30px) translateX(0px); */
}

/* STORY LIST, VISIBLE IN left menu after picking a story */
li:nth-child(2n+1){
    background-color: cornflowerblue;
}
li:nth-child(2n){
    background-color: blue;
}
.clayBorder li{
    margin-left: -42px;
}

/* STORY PAGE TEXT, Hidden until a book is clicked */
.storyText{
    display:none;position:absolute;top:20px;left:25%;background-color: white;width:50%;height:90vh;
    overflow-y:scroll;
    text-align: center;
    padding-bottom: 200px;
    line-height: 2rem;
}


.scrollableBookList{
    margin-left:20px;
}

.storyText > h2{
    margin-inline:auto;
}

.storyText > p{
    padding:40px;
    text-align: left;
}

/* this is the div that represents actual box that displays for the sliding menu */
#slidingMenu{
    width:0;background-color: cornflowerblue; height:100%;transition:1s;
    overflow:hidden;
}
/* styles related to the menu table in the bar */
/* mostly centering stuff with margins and setting transition property for the box showing and hiding */
#slidingMenu > table {
    display: none;
    margin-top: 15%;
}
#slidingMenu > table > tr{
}   
.transition{
    transition:1s;
}
main.transition > h1{
    margin-inline:auto;
}

#storyViewerMain {
    background:transparent;transition: 1s;padding:unset
}




/* STORIES.xhtml dump for now needs comments */
/* TODO: comments */
li:nth-child(2n+1) {
    background-color: cornflowerblue;
}

li:nth-child(2n) {
    background-color: blue;
}

.clayBorder li {
    margin-left: -42px;
}

.storyText {
    display: none;
    left: 25%;
    background-color: white;
    width: 50vw;
    height: 90vh;
    overflow-y: scroll;
    text-align: center;
    padding-bottom: 200px;
    line-height: 2rem;
    position: unset;
    margin-left: auto;
    margin-top: 10px;
}

#readingViewContentBox {
    display:flex
}
@media screen and (max-width: 1105px){
    .storyText {
        margin-inline: unset;
        width:60vw;
    }
}
@media screen and (max-width: 941px){
    .storyText {
        width:80vw;
        margin-top: 0px;
    }
    #readingViewContentBox > .book {
        display: none;
    }
}
#storyTitle {
    position:absolute;
    font-size:3rem;
    top:0px;
    left:50%;
    color:white;
background-color: transparent;
text-shadow:
-2px -2px 0 #000,
2px -2px 0 #000,
-2px 2px 0 #000,
2px 2px 0 #000;
}

.storyText > p {
    padding:40px;text-align: left;
}
.checkBoxBox{
    margin-left:20px;
}